name: "Flake update"
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 0 * * *" # runs daily at 00:00

jobs:
  nix-flake-update:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
      - uses: cachix/install-nix-action@v30

      - uses: DeterminateSystems/update-flake-lock@main
        id: update
        with:
          token: ${{ steps.app-token.outputs.token }}
          pr-title: "Update Nix flake inputs"
          pr-labels: |
            dependencies
            automated
      - name: Merge
        run: gh pr merge --auto "${{ steps.update.outputs.pull-request-number }}" --rebase
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        if: ${{ steps.update.outputs.pull-request-number != '' }}
